<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/style/testimonial.css" />
    <script type="text/javascript" src="../static/js/testimonial.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
  </head>
  <body>
    <section class="testimonial-area">
      <div class="container">
        <div class="sec-title">
          <h2>Our Testimonial</h2>
          <p>what client say about us</p>
          <div></div>
        </div>
        <div class="testimonial-content-area">
        <div class="testimonial-content owl-carousel">
          <div class="single-testimonial">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eaque
              nostrum accusantium laudantium molestias magni libero corporis
              nihil numquam quibusdam.
            </p>
            <div class="client-info">
              <div class="client-pic">
                <a href="#">
                  <img src="../static/images/1.png" />
                </a>
              </div>
              <div class="client-details">
                <h6>Shubham Trivedi</h6>
                <span>Designer, EL Team</span>
              </div>
            </div>
          </div>
          <div class="single-testimonial">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eaque
              nostrum accusantium laudantium molestias magni libero corporis
              nihil numquam quibusdam.
            </p>
            <div class="client-info">
              <div class="client-pic">
                <a href="#">
                  <img src="../static/images/1.png" />
                </a>
              </div>
              <div class="client-details">
                <h6>Shourya</h6>
                <span>Developer, EL Team</span>
              </div>
            </div>
          </div>
          <div class="single-testimonial">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eaque
              nostrum accusantium laudantium molestias magni libero corporis
              nihil numquam quibusdam.
            </p>
            <div class="client-info">
              <div class="client-pic">
                <a href="#">
                  <img src="../static/images/1.png" />
                </a>
              </div>
              <div class="client-details">
                <h6>Shubham Trivedi</h6>
                <span>Developer, EL Team</span>
              </div>
            </div>
          </div>
          <div class="single-testimonial">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eaque
              nostrum accusantium laudantium molestias magni libero corporis
              nihil numquam quibusdam.
            </p>
            <div class="client-info">
              <div class="client-pic">
                <a href="#">
                  <img src="../static/images/1.png" />
                </a>
              </div>
              <div class="client-details">
                <h6>Shourya</h6>
                <span>Designer, EL Team</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
<!--footer -->
      <div class="footer">
       <div class="card">
       <div class="element1">
                 

                  <div class="single-cta">
                    <i class="far fa-envelope-open"></i>
                    <div class="cta-text">
                        <h4>Mail us</h4>
                        <span>info@expertlancing.com</span>
                    </div>
                </div>
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Call us</h4>
                          <span>+1 (619).798.8133 (US)</span>
                      </div>
                  </div>
                  <div class="single-cta">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="cta-text">
                        <h4>Find us</h4>
                        <span>Unit No.1004 , 10th Floor, Iris Tech Park, Sohna Road, Gurugram</span>
                    </div>
                </div>
            
       </div>
       <div class="element2">
           
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../static/images/ExpertLancing.png" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>ExpertLancing is a leading global patent research and analytics firm based in India. With a unique combination of knowledge, proven methodologies, and human intelligence, ExpertLancing supports its clients’ activities across the entire Patent lifecycle. Our vision is to provide the full spectrum of high-quality patent solutions, across all technology domains to its clients.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                            <div></div>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                            <div></div>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>

       </div>
       </div>
       <div class="copyright-area">
                <div class="copyright-text">
                    <p>Copyright &copy; All Right Reserved <a href="https://www.expertlancing.com">Expert Lancing</a></p>
                </div>
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                </div>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
        <script type="text/javascript" src="../static/js/testimonial.js">
        </script>
  </body>
</html>
