@import url('https://fonts.googleapis.com/css2?family=spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Spartan',sans-serif;
}
body{
   width:100%;
   height:auto;
   background-color:#8a6bff;
   display: flex;
   justify-content: center;
   align-items: center;
}

::-webkit-scrollbar{
  width: 0px;
}


.testimonial-area .container{
   max-width: 1140px;
   width:100%;
   margin: auto;
   padding: 0 2vh; 
}
.testimonial-area .container .sec-title{
   position: relative;
   margin-top: 0px;
   margin-bottom: 3vh;
   padding-bottom: 2vh;
}

.testimonial-area .container .sec-title div{
   content:'' ;
   margin-top: 1.5vh;
   left:0;
   bottom: 0;
   width: 12%;
   height: 0.5vh;
   background: #fff;
}

.testimonial-area .container .sec-title h2{
   font-size: 4.5vw;
   font-weight: 900;
   letter-spacing: 1px;
   text-transform: uppercase;
   color:#fff;
}
.testimonial-area .container .sec-title p{
   font-size: 1.7vw;
   color:#fff;
   text-transform:capitalize;
}
.testimonial-area{
  padding:2vh;
  width:100%;
  height:auto;
  background-color:#8a6bff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-area .container .testimonial-content-area .owl-carousel{
  overflow: hidden;
  width: 95%;
}

.testimonial-content-area{
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.owl-carousel .owl-stage-outer{
  padding: 30px 50px;
  margin-left: -35px;
  width: calc(100% + 100px);
}

.owl-carousel .owl-stage-outer .owl-stage{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.owl-item{
margin-right: 25px !important;
margin-left: 30px;
}

.single-testimonial{
  border: 7px solid #fff;
  text-align:center;
  border-radius: 45px;
  position: relative;
  z-index: 2;
  width: 430px;
}

@media screen and (max-width: 1050px) {

  .owl-item{
    margin-right: 10px !important;
    margin-left: 10px;
    }
}

@media screen and (max-width: 1020px) {

  .owl-item{
    margin-right: 3px !important;
    margin-left: 3px;
    }

    .single-testimonial{
      width: 400px;
    }
}
@media screen and (max-width: 900px) {

  .owl-item{
    margin-right: 3px !important;
    margin-left: 3px;
    }

    .single-testimonial{
      width: 350px;
    }
}

@media screen and (max-width: 520px) {

  .owl-item{
    margin-right: 5px !important;
    margin-left: 5px;
    }

    .single-testimonial{
      width: 350px;
    }
}



.single-testimonial p{
  color:#fff;
  font-size:16px;
  padding:50px;
  padding-bottom:15px;
  margin-bottom: 5px;
  position: relative;
  line-height: 24px;
  z-index: 3;
  overflow: hidden;
  white-space:normal;
  height: 9em; 
  text-overflow: -o-ellipsis-lastline;

}
.client-info{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-bottom: 30px;
}

.client-info .client-details h6{
  color:#fff;
  font-size: 18px;
  font-weight: 700;
}

.client-details{
  width: 40%;
}

.client-info .client-details span{
  display: inline-block;
  color:#fff;
  font-size: 13px;
}
.client-info .client-pic{
  width: 25%;
}
.client-info .client-pic img{
  width:90%;
  border-radius: 50px;
}
.owl-dots{
  text-align: center;
  margin-top: 25px;
}
.owl-dots button{
  background: #fff !important;
  width:15px;
  height:15px;
  border-radius: 26px;
  margin: 0 5px;
  transition: 0.3s;
}
.owl-dots button.active{
  width: 30px;
}
.single-testimonial:before{
  content: '\f10d';
  position:absolute;
  font-family: FontAwesome;
  left: -35px;
  color: #fff;
  font-size: 80px;
  top:-35px;
  background:#8a6bff;
  width:126px;
  height: 100px;
}
.single-testimonial:after{
  content: '\f10e';
  position:absolute;
  font-family: FontAwesome;
  color: #fff;
  font-size: 80px;
  right: -35px;
  bottom:-35px;
  background:#8a6bff;
  width:126px;
  height: 100px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
  color: #fff !important;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
  color: #fff !important;
}